@page
@model Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<h1>Template App</h1>
<p>Application is running.</p>

<ul>
    <li><a href="/swagger">Swagger UI</a></li>
    <li><a href="/scalar/v1">Scalar API Reference</a></li>
</ul>
